<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Films : détails</title>
    </head>
    <body>
        <h1>Ajouter un film</h1>

        <form action="/">
            <input type="submit" value="Annuler">
        </form>

        <form action="/add-movie">
            Title: <input type="text" name="title" id="title"> <br>
            Année : <input type="text" name="year" id="year"> <br>
            Nom des acteurs : <input type="text" name="actors" id="actors"> <br>
            Résumé de l'histoire : <input type="text" name="plot" id="plot"> <br>
            Image: <input type="text" name="poster" id="poster"> <br>

            <input type="submit" value="Ajouter">
        </form>
    </body>
</html>