<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset=UTF-8>
        <title>Films : détails</title>
    </head>
    
    <body>
        <form action="/">
            <input type="submit" value="Retour à la liste">
        </form>
        <h1> Détails du film </h1>
        Titre : {{title}}<br>
        Année : {{year}}<br>
        Nom des acteurs : {{actors}}<br>
        Résumé de l'histoire : {{plot}}<br>
        <img src="{{poster}}" width="300" alt="Affiche du film">
    </body>
</html>